.overlay {
	position: fixed;
	z-index: 1;
	inset: 0;
	background: rgba(0, 0, 0, 0.7);
	display: flex;
	justify-content: center;
	align-items: center;
}

.container {
	position: relative;
	touch-action: none;
	border: 1em solid;
	border-radius: 2em;
}

.content {
	position: relative;
	height: 100%;
	inset: 0;
	user-select: none;
	border-radius: inherit;
	overflow: hidden;
	transform-origin: top left;
}

.resolution {
	position: absolute;
	user-select: none;
	bottom: calc(100% + 0.5em);
	color: white;
	font-family: var(--r-main-font);
	font-size: 4em;
	left: 50%;
	transform: translateX(-50%);
	white-space: nowrap;
}

.close {
	user-select: none;
	position: absolute;
	top: 0.3em;
	right: 0.3em;
	color: white;
	justify-self: start;
	padding: 0.5em;
	font-size: 4em;
	width: 1em;
	height: 1em;
	box-sizing: content-box;
	cursor: pointer;
	background: transparent;
	border: 0;
	line-height: 1em;
}

@keyframes mmfadeIn {
	from {
		opacity: 0;
	}
}

@keyframes mmfadeOut {
	to {
		opacity: 0;
	}
}

.modal {
	display: none;

	&:global(.is-open) {
		display: block;
	}

	&[aria-hidden="false"] .overlay {
		animation: mmfadeIn 0.2s ease-out;
	}

	&[aria-hidden="true"] .overlay {
		animation: mmfadeOut 0.2s ease-out;
	}
}

.trigger {
	display: inline-flex;
	background: transparent;
	cursor: pointer;
	border: none;
	height: 2rem;
	padding: 0;
	margin: 0.5rem 0;

	svg {
		height: 100%;
		width: auto;
	}
}
