---
import { TextCard } from "./text-card";
import { TicTacToe } from "./tic-tac-toe";
import { Image } from "./image";
import { Gallery } from "./gallery";
---

<section>
	<TextCard client:visible />
</section>

<section>
	<TicTacToe client:visible />
</section>

<section>
	<Image client:visible />
</section>

<section>
	<Gallery client:visible />
</section>



