---
import TicTacToe from "./tic-tac-toe/TicTacToe.astro";
import Image from "./image/Image.astro";
import { Gallery } from "./gallery";
import Documentation from "./documentation/Documentation.astro";
import TextCard from "./text-card/TextCard.astro";
import Chevre from "./chevres/Chevre.astro";
---

<TextCard />

<TicTacToe />

<Image />

<section>
	<Gallery client:visible />
</section>

<Documentation />

<Chevre />
