---
import { TicTacToe } from "./tic-tac-toe";
import { Image } from "./image";
import { Gallery } from "./gallery";
import { Documentation } from "./documentation";
import { Chevres } from "./chevres";
import TextCard from "./text-card/TextCard.astro";
---

<TextCard />

<section>
	<TicTacToe client:visible />
</section>

<section>
	<Image client:visible />
</section>

<section>
	<Gallery client:visible />
</section>

<section>
	<Documentation client:visible />
</section>

<section>
	<Chevres client:visible />
</section>
