---
import Slide from "../../../components/Slide.astro";
import DemoTitle from "../DemoTitle.astro";
import { DocumentationDemo } from "./demo";
---

<DemoTitle level={7} />

<Slide>
  <DocumentationDemo client:visible />
</Slide>

<Slide>
  <p>Mais au fait...</p>
  <h2 class="fragment">pourquoi on fait du "mobile first" ? 🤔</h2>
</Slide>

<Slide>
  <h3 class="code">Côté code...</h3>
  <small class="fragment" data-fragment-index="1">ça fait moins de lignes</small
  >
  <div class="container fragment" data-fragment-index="1">
    <div>
      <p>Mobile 📱</p>
      <img src="/images/breakpoints/mobile.webp" alt="code for mobile layout" />
    </div>
    <span class="arrow">&rightarrow;</span>
    <div>
      <p>Bureau 🖥️</p>
      <img
        src="/images/breakpoints/desktop.webp"
        alt="code for desktop layout"
      />
    </div>
  </div>
</Slide>

<Slide>
  <h3 class="design">Côté design...</h3>
  <div class="r-stack">
    <img
      class="fragment"
      src="/images/breakpoints/mobile-first-phone.webp"
      alt="code for mobile layout"
    />
    <img
      class="fragment"
      src="/images/breakpoints/mobile-first-laptop.webp"
      alt="code for mobile layout"
    />
  </div>
</Slide>

<style>
  h3.code {
    margin-block: 0.5em 0;
  }
  h3.design {
    margin-top: -0.5em;
  }

  table {
    text-wrap: pretty;
    max-width: 1100px;
  }

  .arrow {
    margin-top: 190px;
  }

  p {
    margin-top: 0;
  }

  .r-stack {
    margin-top: 3rem;
  }

  .container {
    display: grid;
    max-width: 1000px;
    margin: auto;
    grid-template-columns: 1fr auto 1fr;

    p {
      margin-bottom: -1em;
    }
  }
</style>
