html,
body {
  height: 100%;
  background: white;
  font-family: "Inter", sans-serif;
}

body {
  margin: 0;
  display: grid;
  place-items: center;
  text-wrap: pretty;
  background: rgb(230, 230, 230);
}

article {
  min-width: 200px;
  max-width: min(90vw, 1000px);
  resize: horizontal;
  overflow: hidden;
  background: white;
  border-radius: 0.75rem;
}
