html,
body {
  height: 100%;
  background: white;
  font-family: "Inter", sans-serif;
}

body {
  margin: 0;
  display: grid;
  place-items: center;
  text-wrap: pretty;
  background: rgb(240, 240, 245);
}

article {
  min-width: 260px;
  max-width: min(90vw, 1000px);
  width: 100%;
  resize: horizontal;
  overflow: hidden;
  background: white;
  border-radius: 1.75rem;
  padding: 1em;
}
