.reveal .sp-wrapper {
	--sp-layout-height: 500px;
	--sp-font-size: 1rem;
	--sp-font-lineHeight: 1.5;

	iframe {
		max-width: none;
		max-height: none;
	}

	a[title="Open in CodeSandbox"] {
		display: none;
	}

	.sp-layout {
		height: var(--sp-layout-height);
		border-radius: 8px;
	}

	.sp-editor ::selection {
		color: black;
	}

	.sp-resize-handler {
		transition: background-color 100ms;

		&:hover {
			background: linear-gradient(
				to right,
				transparent 35%,
				hsl(200 45% 45%) 35%,
				hsl(200 45% 45%) 65%,
				transparent 65%
			);
		}
	}
}
