.page {
	max-width: min(90vw, 1800px);
}

@media (min-width: 70rem) {
	.menu-icon {
		display: none;
	}

	nav {
		display: block;
	}

	.container {
		display: grid;
		grid-template-columns: 1fr 5fr;
	}
}

@media (min-width: 90em) {
	.table-of-contents {
		display: block;
	}

	.container {
		grid-template-columns: 1fr 5fr 30ch;
		column-gap: 2em;
	}
}
