---
import Layout from "../layouts/Layout.astro";
import Title from "../slides/0-intro/Title.astro";
import SandpackDemo from "../slides/1-demos/Demos.astro";
---

<Layout title="Tu te mets combien en responsive CSS ? Edition 2024">
	<main class="reveal">
		<div class="slides">
			<Title />
			<SandpackDemo />
		</div>
	</main>
</Layout>
