---
import { GalleryDemo } from "./demo/index";
import Slide from "../../../components/Slide.astro";
import DemoTitle from "../DemoTitle.astro";
---

<DemoTitle level={8} />

<Slide>
  <GalleryDemo client:visible />
</Slide>

<Slide>
  <img
    src="/images/flex-grid/centered-grid.webp"
    alt="mockup of a centered grid"
  />
</Slide>

<Slide>
  <table>
    <thead>
      <tr>
        <th></th>
        <th>Flexbox / Grid</th>
        <th>Breakpoints</th>
      </tr>
    </thead>
    <tbody>
      <tr class="fragment">
        <th scope="row" style="width: 8ch">Design</th>
        <td>fluide</td>
        <td>fixe par taille d'écran</td>
      </tr>
      <tr class="fragment">
        <th scope="row">Échelle</th>
        <td>élément HTML</td>
        <td>page entière</td>
      </tr>
      <tr class="fragment">
        <th scope="row">Effet</th>
        <td>changement de taille et/ou position</td>
        <td>n'importe quelle propriété CSS</td>
      </tr>
    </tbody>
  </table>
</Slide>

<style>
  img {
    height: 600px;
  }

  table {
    text-wrap: pretty;
    max-width: 1100px;
  }
</style>
