---
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"section"> {
  /**
   * Use the auto-animate feature for this slide or not
   *
   * default: true
   */
  animate?: boolean;
}

const { animate = true, ...attrs } = Astro.props;
---

<section
  data-background-color="hsl(218, 100%, 96%)"
  data-auto-animate={animate}
  {...attrs}
>
  <slot />
</section>
