html,
body {
	height: 100%;
}

body {
	margin: 0;
	display: grid;
	place-items: center;
	font-family: "Inter", sans-serif;
	background: #191c5f;
}

.paper {
	box-sizing: border-box;
	background: white;
	padding: 2rem;
	border-radius: 0.5em;
}
