<main>
  <section>
    <article>
      <div class="content">
        <img src="https://images.unsplash.com/photo-1643281237861-29b2c3d380cd?q=80&w=1000&auto=format&fit=crop" alt="photo de chèvre"/>
        <div>
          <h1>Les chèvres et l’écologie : tondeuses à gazon naturelles</h1>
          <p> Comment les chèvres aident à entretenir les paysages de manière écologique</p>
        </div>
      </div>
    </article>
    <article>
      <div class="content">
        <img src="https://images.unsplash.com/photo-1515259544504-e829b50bdd19?q=80&w=1000&auto=format&fit=crop" alt="photo de chèvre"/>
        <div>
          <h1>Les races de chèvres les plus surprenantes à travers le monde</h1>
          <p> De la chèvre naine à la chèvre des montagnes, un tour du monde caprin</p>
        </div>
      </div>
    </article>
    <article>
      <div class="content">
        <img src="https://images.unsplash.com/photo-1556314833-b07d6c0505c3?q=80&w=1000&auto=format&fit=crop" alt="photo de chèvre"/>
        <div>
          <h1>Comment les chèvres sont devenues les stars du yoga ?</h1>
          <p>Le yoga avec chèvres : la tendance zen la plus insolite</p>
        </div>
      </div>
    </article>
    <article>
      <div class="content">
        <img src="https://images.unsplash.com/photo-1532633378163-24c2c0da3c99?q=80&w=1000&auto=format&fit=crop" alt="photo de chèvre"/>
        <div>
          <h1> Les chèvres dans l’histoire : de la mythologie à la culture populaire</h1>
          <p>Quand les chèvres deviennent des icônes</p>
        </div>
      </div>
    </article>
    <article>
      <div class="content">
        <img src="https://images.unsplash.com/photo-1560819400-434c188f63ef?q=80&w=1000&auto=format&fit=crop" alt="photo de chèvre"/>
        <div>
          <h1>Chèvre vs mouton : qui est vraiment le boss de la ferme ?</h1>
          <p>Une rivalité millénaire entre deux stars à sabots</p>
        </div>
      </div>
    </article>
    <article>
      <div class="content">
        <img src="https://images.unsplash.com/photo-1563906832557-b53ca701b251?q=80&w=1000&auto=format&fit=crop" alt="photo de chèvre"/>
        <div>
          <h1> Les chèvres et l'art du bricolage : quand elles transforment votre enclos en chantier</h1>
          <p> Ces championnes de l’évasion qui trouvent toujours une faille</p>
        </div>
      </div>
    </article>
    <article>
      <div class="content">
        <img src="https://images.unsplash.com/photo-1530717385694-f05b16123c4a?q=80&w=1000&auto=format&fit=crop" alt="photo de chèvre"/>
        <div>
          <h1>Les chèvres et les plantes : des jardinières... pas comme les autres</h1>
          <p>Pourquoi votre jardin n’est jamais à l’abri avec une chèvre dans les parages</p>
        </div>
      </div>
    </article>
    <article>
      <div class="content">
        <img src="https://images.unsplash.com/photo-1534368871200-8ebcefae2bc8?q=80&w=1000&auto=format&fit=crop" alt="photo de chèvre"/>
        <div>
          <h1>Les chèvres, ces aventurières qui explorent chaque recoin</h1>
          <p> Comment une chèvre fait de votre ferme son terrain d'exploration</p>
        </div>
      </div>
    </article>
    <article>
      <div class="content">
        <img src="https://images.unsplash.com/photo-1588466585717-f8041aec7875?q=80&w=1000&auto=format&fit=crop" alt="photo de chèvre"/>
        <div>
          <h1> Le langage secret des chèvres : que vous disent-elles vraiment ?</h1>
          <p>Décryptage des bêlements et autres sonorités caprines</p>
        </div>
      </div>
    </article>
    <article>
      <div class="content">
        <img src="https://images.unsplash.com/photo-1643281237861-29b2c3d380cd?q=80&w=1000&auto=format&fit=crop" alt="photo de chèvre"/>
        <div>
          <h1>Les chèvres et l’écologie : tondeuses à gazon naturelles</h1>
          <p> Comment les chèvres aident à entretenir les paysages de manière écologique</p>
        </div>
      </div>
    </article>
  </section>

  <aside>
    <article>
      <div class="content">
        <img src="https://images.unsplash.com/photo-1560819400-434c188f63ef?q=80&w=1000&auto=format&fit=crop" alt="photo de chèvre"/>
        <div>
          <h1>Chèvre vs mouton : qui est vraiment le boss de la ferme ?</h1>
          <p>Une rivalité millénaire entre deux stars à sabots</p>
        </div>
      </div>
    </article>
    <article>
      <div class="content">
        <img src="https://images.unsplash.com/photo-1563906832557-b53ca701b251?q=80&w=1000&auto=format&fit=crop" alt="photo de chèvre"/>
        <div>
          <h1>Les chèvres et l'art du bricolage : quand elles transforment votre enclos en chantier</h1>
          <p>Ces championnes de l’évasion qui trouvent toujours une faille</p>
        </div>
      </div>
    </article>
    <article>
      <div class="content">
        <img src="https://images.unsplash.com/photo-1530717385694-f05b16123c4a?q=80&w=1000&auto=format&fit=crop" alt="photo de chèvre"/>
        <div>
          <h1>Les chèvres et les plantes : des jardinières... pas comme les autres</h1>
          <p>Pourquoi votre jardin n’est jamais à l’abri avec une chèvre dans les parages</p>
        </div>
      </div>
    </article>
  </aside>
</main>
