---
import Slide from "../../components/Slide.astro";
---

<Slide data-background-image="/images/conclusion/techniques.webp" />

<Slide>
  <h2>Nouveaux devices</h2>
  <ul>
    <li>apple watch</li>
    <li>téléphones pliants</li>
    <li>médias souples</li>
    <li>téléphone baguette chinoise</li>
  </ul>
</Slide>

<Slide>Bento de fin</Slide>
