---
import Slide from "../../components/Slide.astro";
import { currentEvent } from "../../events";
---

<Slide
  data-background-image="/images/conclusion/techniques.webp"
  data-background-size="contain"
/>

<Slide>
  <h2>Toujours plus de devices</h2>
  <div class="r-stack">
    <img
      class="fragment"
      src="/images/future-devices/device1.webp"
      alt="a smart watch"
    />
    <img
      class="fragment"
      src="/images/future-devices/device2.webp"
      alt="folding smartphones"
    />
    <img
      class="fragment"
      src="/images/future-devices/device3.webp"
      alt="Apple Vision Pro"
    />
    <img
      class="fragment"
      src="/images/future-devices/device4.webp"
      alt="Meta AR glasses"
    />
    <img
      class="fragment"
      src="/images/future-devices/device5.webp"
      alt="really tall smartphone"
    />
  </div>
</Slide>

<Slide
  data-background-image={currentEvent.outroImg}
  data-background-size="contain"
/>

<style is:global>
  @media (min-aspect-ratio: 16/9) {
    .backgrounds > .slide-background:last-child.present {
      background-image: linear-gradient(transparent 22%, black 0px);
    }
  }
</style>

<style>
  img {
    max-width: 100%;
    max-height: 600px;
  }

  div.r-stack {
    display: grid;
    place-items: center;
  }
</style>
