---
import Slide from "../../components/Slide.astro";
---

<Slide
  data-background-image="/images/conclusion/techniques.webp"
  data-background-size="contain"
/>

<Slide>
	<h2>Toujours plus de devices</h2>
  <div class="r-stack">
    <img class="fragment fade-in-then-out" src="/images/future-devices/smartwatch.webp" alt="a smart watch"/>
    <img class="fragment fade-in-then-out" src="/images/future-devices/foldable-phones.webp" alt="a smart watch"/>
    <img class="fragment" src="/images/future-devices/long-phone.webp" alt="a smart watch"/>
  </div>
</Slide>

<Slide
  data-background-image="/images/outro.webp"
  data-background-size="contain"
/>

<style is:global>
  @media (min-aspect-ratio: 16/9) {
    .backgrounds > .slide-background:last-child.present {
      background-image: linear-gradient(transparent 22%, black 0px);
    }
  }
</style>

<style>
  img {
    max-width: 100%;
    max-height: 600px;
  }

  div.r-stack {
    display: grid;
    place-items: center;
  }
</style>
