---
import Slide from "../../components/Slide.astro";
---

<Slide>
	<h2>Une multitude de techniques 🤯</h2>
	<ul>
		<li>multicol</li>
		<li>floats</li>
		<li>media queries</li>
		<li>unités relatives</li>
		<li>flexbox</li>
		<li>grid</li>
		<li>container queries</li>
	</ul>
</Slide>

<Slide>
	<h2>Nouveaux devices</h2>
	<ul>
		<li>apple watch</li>
		<li>téléphones pliants</li>
		<li>médias souples</li>
		<li>téléphone baguette chinoise</li>
	</ul>
</Slide>

<Slide>
	Bento de fin
</Slide>
