---
import "reveal.js/dist/reveal.css";
import "reveal.js/dist/theme/white.css";
import "../../src/styles/highlightjs-theme-vs2015.css";

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Aleo:wght@400;700;900&family=Slabo+27px&display=swap" rel="stylesheet">
    <title>{title}</title>
  </head>

  <body>
    <slot />

    <div class="hidden" id="meme-batman">
      <img src="/images/breakpoints-meme.webp" alt="batman slapping robin" />
    </div>

    <div class="hidden" id="meme-robin">
      <img src="/images/robin-meme.webp" alt="robin slapping batman" />
    </div>

    <script>
      const memeBatmanImg = document.getElementById("meme-batman")
      const memeRobinImg = document.getElementById("meme-robin")
      document.addEventListener('keydown', (event) => {
        if (event.code === "AltLeft" && document.activeElement.role !== "textbox") {
          memeBatmanImg.classList.toggle("hidden");
          memeRobinImg.classList.add("hidden");
        } else if (event.code === "AltRight" && document.activeElement.role !== "textbox") {
          memeRobinImg.classList.toggle("hidden");
          memeBatmanImg.classList.add("hidden");
        } else {
          memeBatmanImg.classList.add("hidden");
        }
      })
    </script>

    <script>
      import Reveal from "reveal.js";

      Reveal.initialize({
        transition: "none",
        history: true,
        progress: false,
        width: 1280,
        height: 720,
        controls: false,
        autoAnimateDuration: 0.5,
        autoAnimateEasing: "cubic-bezier(0.4, 0, 0.2, 1)",
      });
    </script>
  </body>
</html>

<style is:global lang="scss">
  :root {
    --r-main-font: "Aleo", serif;
    --r-heading-font: "Aleo", serif;
    --r-heading1-size: 2em;
    --r-heading2-size: 1.2em;
    --r-heading-font-weight: 700;
    --r-heading-text-transform: normal;
  }

  #meme-batman, #meme-robin {
    position: fixed;
    z-index: 100;
    backdrop-filter: blur(10px);
    inset: 0;
    transition: opacity 100ms;
    pointer-events: none;

    & > img {
      position: fixed;
      width: 85vmin;
      inset: 0;
      margin: auto;
      box-shadow: 0 0 60px -30px;
    }
  }

  .hidden {
    opacity: 0;
  }
</style>
