---
import "reveal.js/dist/reveal.css";
import "reveal.js/dist/theme/white.css";
import "../../src/styles/highlightjs-theme-vs2015.css";

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>

	<body>
		<slot />

    <div class="hidden" id="meme">
      <img src="/images/breakpoints-meme.webp" alt="batman slapping robin" />
    </div>

    <script>
      const memeImg = document.getElementById("meme")
      document.addEventListener('keydown', (event) => {
        if (event.code === "AltLeft" && document.activeElement.role !== "textbox") {
            memeImg.classList.toggle("hidden");
        } else {
          memeImg.classList.add("hidden")
        }
      })
    </script>

		<script>
			import Reveal from "reveal.js";

			Reveal.initialize({
				transition: "none",
				history: true,
				progress: false,
				width: 1280,
				height: 720,
				controls: false,
				autoAnimateDuration: 0.5,
				autoAnimateEasing: "cubic-bezier(0.4, 0, 0.2, 1)",
			});
		</script>
	</body>
</html>

<style is:global lang="scss">
	main,
	.slide-background-content {
		background: hsl(218, 100%, 93%);
	}

	.reveal :is(h1, h2, h3, h4, h5, h6) {
		text-transform: initial;
	}

  #meme {
    position: fixed;
    z-index: 100;
    backdrop-filter: blur(5px);
    inset: 0;

    & > img {
      position: fixed;
      width: 80vmin;
      inset: 0;
      margin: auto;
    }
  }

  .hidden {
    display: none;
  }
</style>
