---
import "reveal.js/dist/reveal.css";
import "reveal.js/dist/theme/white.css";
import "../../src/styles/highlightjs-theme-vs2015.css";

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Aleo:wght@400;700;900&family=Slabo+27px&display=swap" rel="stylesheet">
    <title>{title}</title>
  </head>

  <body>
    <slot />

    <script>
      import Reveal from "reveal.js";

      Reveal.initialize({
        transition: "none",
        history: true,
        progress: false,
        width: 1280,
        height: 720,
        controls: false,
        autoAnimateDuration: 0.5,
        autoAnimateEasing: "cubic-bezier(0.4, 0, 0.2, 1)",
      });
    </script>
  </body>
</html>

<style is:global lang="scss">
  :root {
    --r-main-font: "Aleo", serif;
    --r-heading-font: "Aleo", serif;
    --r-heading1-size: 2em;
    --r-heading2-size: 1.2em;
    --r-heading-font-weight: 700;
    --r-heading-text-transform: normal;
  }
</style>
